<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Message #<%= @message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_message/<%= @message.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <input type="text" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @message.event_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @message.user_id %>">
      </div>

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Datetime
        </label>

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="<%= @message.datetime %>">
      </div>

      <!-- Label and input for likes -->
      <div class="form-group">
        <label for="likes" class="control-label">
          Likes
        </label>

        <input type="text" id="likes" name="likes" placeholder="Likes" class="form-control" value="<%= @message.likes %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @message.body %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Message
      </button>
      or
      <a href="/messages/<%= @message.id %>">Cancel</a>
    </form>
  </div>
</div>
