<div class="page-header">
  <h1>
    Messages
    <a href="/messages/new" class="btn btn-lg btn-success">New Message</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "messages_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :body_cont, "Body contains" %>
    <%= f.text_field :body_cont, :class => "form-control", :placeholder => "Body contains" %>
  </div>

<div class="form-group">
  <%= f.label :likes, "Likes" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :likes_gteq, :class => "form-control", :placeholder => "Likes greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :likes_lteq, :class => "form-control", :placeholder => "Likes less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :datetime, "Datetime" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='datetimegteqPicker'>
                  <%= f.text_field :datetime_gteq, :class => "form-control", :placeholder => "Datetime greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='datetimelteqPicker'>
                  <%= f.text_field :datetime_lteq, :class => "form-control", :placeholder => "Datetime less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimegteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#datetimelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#datetimegteqPicker').on("dp.change", function (e) {
                  $('#datetimelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#datetimelteqPicker').on("dp.change", function (e) {
                  $('#datetimegteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_first_name_cont, "User first_name contains" %>
      <%= f.text_field :user_first_name_cont, :class => "form-control", :placeholder => "User first_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/messages" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#messages_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Event</th>
        <th>User</th>
        <th>Datetime</th>
        <th>Likes</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% @messages.each do |message| %>
      <tr>
        <td>
          <% if message.event.present? %>
            <a href="/events/<%= message.event.id %>">
              <%= message.event.host_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if message.user.present? %>
            <a href="/users/<%= message.user.id %>">
              <%= message.user.first_name %>
            </a>
          <% end %>
        </td>
        <td><%= message.datetime %></td>
        <td><%= message.likes %></td>
        <td><%= message.body %></td>
        <td>
          <a href="/messages/<%= message.id %>" class="btn btn-primary">Show</a>
          <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @messages, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
