<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Phone number</dt>
      <dd><%= @user.phone_number %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Events
      </li>

      <% @user.events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.host_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @user.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many invite_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invite_lists
      </li>

      <% @user.invite_lists.each do |invite_list| %>
        <li class="list-group-item">
          <a href="/invite_lists/<%= invite_list.id %>">
            <%= invite_list.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invite_lists/<%= invite_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invite_lists/<%= invite_list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invite_list/<%= invite_list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
