<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @event.host.present? %>
          <a href="/users/<%= @event.host_id %>">
            <%= @event.host.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Start datetime</dt>
      <dd><%= @event.start_datetime %></dd>

      <dt>End datetime</dt>
      <dd><%= @event.end_datetime %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Event has many venue_options -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venue_options
      </li>

      <% @event.venue_options.each do |voting_board| %>
        <li class="list-group-item">
          <a href="/voting_boards/<%= voting_board.id %>">
            <%= voting_board.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/voting_boards/<%= voting_board.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/voting_boards/<%= voting_board.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_voting_board/<%= voting_board.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_voting_board" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :address), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for vote -->
      <div class="form-group">
        <label for="vote" class="control-label">
          Vote
        </label>

        <input type="text" id="vote" name="vote" placeholder="Vote" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Voting Board
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @event.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Datetime
        </label>

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="">
      </div>

      <!-- Label and input for likes -->
      <div class="form-group">
        <label for="likes" class="control-label">
          Likes
        </label>

        <input type="text" id="likes" name="likes" placeholder="Likes" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Message
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many invite_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invite_lists
      </li>

      <% @event.invite_lists.each do |invite_list| %>
        <li class="list-group-item">
          <a href="/invite_lists/<%= invite_list.id %>">
            <%= invite_list.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invite_lists/<%= invite_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invite_lists/<%= invite_list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invite_list/<%= invite_list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_invite_list" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for invitee_id -->
      <div class="form-group">
        <label for="invitee_id" class="control-label">
          Invitee
        </label>

        <%= select_tag(:invitee_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Invite List
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
