<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd><%= @event.host_id %></dd>

      <dt>Start datetime</dt>
      <dd><%= @event.start_datetime %></dd>

      <dt>End datetime</dt>
      <dd><%= @event.end_datetime %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Event has many venue_options -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venue_options
      </li>

      <% @event.venue_options.each do |voting_board| %>
        <li class="list-group-item">
          <a href="/voting_boards/<%= voting_board.id %>">
            <%= voting_board.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/voting_boards/<%= voting_board.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/voting_boards/<%= voting_board.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_voting_board/<%= voting_board.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Event has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @event.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Event has many invite_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invite_lists
      </li>

      <% @event.invite_lists.each do |invite_list| %>
        <li class="list-group-item">
          <a href="/invite_lists/<%= invite_list.id %>">
            <%= invite_list.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invite_lists/<%= invite_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invite_lists/<%= invite_list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invite_list/<%= invite_list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
