<!-- Validation failure messages -->
<% if @voting_board.errors.any? %>
  <% @voting_board.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Voting Board #<%= @voting_board.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_voting_board/<%= @voting_board.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :address, @voting_board.venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :host_id, @voting_board.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for vote -->
      <div class="form-group">
        <label for="vote" class="control-label">
          Vote
        </label>

        <input type="text" id="vote" name="vote" placeholder="Vote" class="form-control" value="<%= @voting_board.vote %>">
      </div>

      <button class="btn btn-warning">
        Update Voting Board
      </button>
      or
      <a href="/voting_boards/<%= @voting_board.id %>">Cancel</a>
    </form>
  </div>
</div>
